# Configuration file

##########################################################################################################
# abyssalcraft
#--------------------------------------------------------------------------------------------------------#
# Configure mod compatibility between Vampirism and abyssalcraft
##########################################################################################################

abyssalcraft {
    # Whether to disable the sundamage in the darkland biomes or not [default: true]
    B:disabled_sundamage_darklands=true

    # If the compatibility for this mod should be loaded [default: true]
    B:enable_compat_abyssalcraft=true
}


##########################################################################################################
# bloodmagic
#--------------------------------------------------------------------------------------------------------#
# Configure mod compatibility between Vampirism and bloodmagic
##########################################################################################################

bloodmagic {
    # If the compatibility for this mod should be loaded [default: true]
    B:enable_compat_bloodmagic=true

    # Blood Magic Life Essence * factor = Vampirism blood [range: 0.0 ~ 10.0, default: 0.8]
    S:life_essence_conversion_factor=0.8
}


##########################################################################################################
# evilcraft
#--------------------------------------------------------------------------------------------------------#
# Configure mod compatibility between Vampirism and evilcraft
##########################################################################################################

evilcraft {
    # Evilcraft Blood * factor = Vampirism Blood [range: 0.0 ~ 20.0, default: 0.8]
    S:blood_conversion_factor=0.8

    # If the compatibility for this mod should be loaded [default: true]
    B:enable_compat_evilcraft=true
}


##########################################################################################################
# tconstruct
#--------------------------------------------------------------------------------------------------------#
# Configure mod compatibility between Vampirism and tconstruct
##########################################################################################################

tconstruct {
    # Tinker blood * factor = Vampirism Blood [range: 0.0 ~ 10.0, default: 0.8]
    S:blood_conversion_factor=0.8

    # If the compatibility for this mod should be loaded [default: true]
    B:enable_compat_tconstruct=true
}


##########################################################################################################
# waila
#--------------------------------------------------------------------------------------------------------#
# Configure mod compatibility between Vampirism and waila
##########################################################################################################

waila {
    # If the compatibility for this mod should be loaded [default: true]
    B:enable_compat_waila=true
}


