# Configuration file

general {

    modules {

        ##########################################################################################################
        # compat
        #--------------------------------------------------------------------------------------------------------#
        # A list of all mods that CompatSkills has integrated compatability with.
        # Setting any of these to false disables the respective compat:
        ##########################################################################################################

        compat {
            B:astralsorcery=true
            B:baubles=true
            B:betterquesting=false
            B:bloodmagic=true
            B:dynamicswordskills=false
            B:gamestages=false
            B:immersiveengineering=false
            B:magneticraft=false
            B:minecraft=true
            B:oreexcavation=false
            B:projecte=false
            B:reskillable=true
            B:scavenge=false
            B:tconstruct=true
            B:thaumcraft=true
            B:theoneprobe=false
        }

    }

    hwyla {
        # Should Hwyla Requirements Support require Shifting?
        B:HwylaShifting=true
    }

    top {
        # Should TOP Requirements Support require Shifting?
        B:TOPShifting=false
    }

    minecraft {
        # Should locked Block Drops post their requirements?
        B:BlockDropsError=true
    }

}


