# Configuration file

general {
    # Determines whether or not the default tips should be possible. This includes tips added directly by other mods through their language files. [default: true]
    B:allowDefaultTips=false

    # A list of custom tips added by the user or modpack. [default: [Ljava.lang.String;@62d52e0]
    S:customTips <
	JEI doesn't display Slate Altar recipes. This is why you start with a book.
	The Slate Altar is terribly optimized so don't overuse it.
	You need to craft skill orbs in order to level up your skills.
	If you hear the sound of stone being dragged, look behind you.
	If you notice torches disappearing near you, look behind you.
	The nether is much more populated with resources than the overworld.
	You can use mortars to multiply your ores.
     >

    # The color of the actual tip text. [default: FFFFFF]
    S:textColor=CFCFCF

    # The color of the top/title text for the tip. [default: FFFF55]
    S:titleColor=FF6600

    # The amount of offset the tip text should have from the left of the screen. [range: 0 ~ 2147483647, default: 5]
    I:xOffset=5

    # The amount of offset the tip text should have from the bottom of the screen. [range: 0 ~ 2147483647, default: 40]
    I:yOffset=40
}


